---
layout: page.njk
permalink: /
---

<p>All the posts</p>
<ul>
  {%- for post in posts -%}
  <li>
    <a href="{{ post.slug }}" class=""
      >{{ post.title }}—{{ post.type }}–{{ post.category }}</a
    >
  </li>
  {%- endfor -%}
</ul>

{%- set metaCategories = collections.metaCategoriesCollection -%}
<p>Paginated posts by country</p>
<ul>
  {%- for metaCategory in metaCategories['metaCategories'] -%}
  <li>
    {%- if metaCategory.numberOfPosts >0 -%}
    <a href="{{ metaCategory.slug }}" class="">{{
      metaCategory.metaCategoryName
    }}</a>
    — ({{ metaCategory.numberOfPosts }}) {%- else -%}
    {{ metaCategory.metaCategoryName }} — ({{ metaCategory.numberOfPosts }}) {%-
    endif -%}
  </li>
  {%- endfor -%}
</ul>

{# {% console metaCategories, 'metaCategories' %} #}
