---
layout: page.njk
permalink: /
---

<p>All the posts</p>
<ul>
  {%- for post in collections.allPosts -%}
  <li>
    <a href="{{ post.slug }}" class=""
      >{{ post.title }}—{{ post.type }}–{{ post.category }}</a
    >
  </li>
  {%- endfor -%}
</ul>

{%- set categoryData = collections.postsByCategories[0].categoryData -%}
<p>Paginated posts by country</p>
<ul>
  {%- for country in categoryData -%}
  <li>
    <a href="{{ country.slug }}" class="">{{ country.name }}</a>
  </li>
  {%- endfor -%}
</ul>

{# {% console categoryData, 'categoryData' %} #}
